.btn {
    z-index: 1;
    display: flex;
    align-items: end;
    justify-content: end;
    background: red;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px 32px;
    padding-left: 16px;
}

.container {
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}