* {
    padding: 0;
    margin: 0;
}

.main {
    width: 224px;
    height: 208px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background: #FFF;
    box-shadow: 3px 4px 4px 0px rgba(21, 57, 90, 0.03), -3px -4px 4px 0px rgba(21, 57, 90, 0.03);
}

.levels {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.svg {
    padding-top: 14px;
}

.task {
    margin-top: 35px;
}

.list_task {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_text {
    width: 163px;
    height: 18px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 2px; 
    border-color: #FFF;
    border-left: #FFF;
    border-top: #FFF;
    border-bottom: 2px solid #00D7FF;
    caret-color: #00D7FF;
    display: block;   
    box-sizing: border-box;
}

.input_text:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.input_text:focus {
    padding-left: 7px;
    padding-bottom: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    background-image: url('input_time');
    background-size: 16px 16px; 
    background-repeat: no-repeat;
    background-position: right center; 
    fill: #00D7FF;
}

.input_time {
    width: 100px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 14px;
    border: none;
    fill: #00D7FF;
}

.item {
    margin-top: 12px;
}

.group {
    width: 88px;
    height: 25px;
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
}

.text_group {
    color: #282828;
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: 400;
    border-radius: 0px 15px 15px 0px;
    background: #D3F6CE;
    padding: 8px 32px 6px 21px;
}